
<%- include('./comunes/cabecera') %>



<h1>Hola mundo</h1>

<!-- <% %> Todo lo que esta dentro de esto es JS -->
<!-- MOSTRAR = -->
<p><%= "Hola" %></p>
<p><%= 15 %></p>
<!-- Ejecutar  -->
<% const andres = {nombreComun: "Andrés", apellido: "García", cedula: "17"} %>
<% const numero = 25 %>
<% const mensaje = "Hola" %>
<!-- Ejemplo  -->
<p><%= andres.nombreComun %> <%= numero %> <%= mensaje %></p>

<% const aprobado = true %>

<% if(aprobado){ %>
    <p>Aprobado!</p>
<% } else { %>
    <p>RechazXado</p>
<% } %>

<% const arregloNumeros = [1, 2, 3, 4, 5] %>

<ul>
    <% arregloNumeros.forEach( (objeto) => { %>
        <li><%= objeto %></li>
    <% } ) %>
</ul>


<%- include('./comunes/footer') %>














